/* 
// ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
// ╠╩╗║╣ ║║║ ║ ║ ║
// ╚═╝╚═╝╝╚╝ ╩ ╚═╝ 
*/

/* V A R I A B L E S */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap'); /* Font Import */

:root {
  /* Font Size */
  --fg-primary: 12vh; /* Time and Greetings */
  --fg-secondary: 3vh; /* Greetings and Weather widger */
  --fg-date: 3vh; /* Date */
  --fg-list: 2vh; /* Links List */
  --icon: 3vh; /* Icon Size */

  /* Fonts Color */
  --fg: #1E1921; /* Foreground color */
  --sfg: #29222D; /* Sceondary Foreground color */

  /* Light Colors  */
  --accent: #24B51C; /* Hover color */
  --backaccent: #63B534; /* Background hover color */
  --background: #91DB67; /* Background color */
  --cards: #63B534; /* Cards color */
  --miniPagebg: #A3E28F; /* Mini page background color */

  /* Image background  */
  --imgbg: url(assets/background.jpg); /* Image URL */
  --imgcol: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ); /* Filter color */
}

.darktheme {
  /* Dark Colors  */
  --accent: #300149; /* Hover color */
  --backaccent: #4B0266; /* Background hover color */ 
  --background: #1E1921; /* Background color */
  --cards: #29222D; /* Cards color */
  --miniPagebg: #3E2A4B; /* Mini page background color */

  /* Fonts Color */
  --fg: #3EA512; /* Foreground color */
  --sfg: #2E7A0D; /* Secondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85)
  ); /* Filter color */
}

/* S T Y L E S */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: 0.2s ease-in-out;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.withImageBackground {
  background-image: var(--imgcol), var(--imgbg);
  background-size: cover;
}

#themeButton {
  position: absolute;
  margin: 2em 2em 0 0;
  right: 0;
  top: 0;
  color: var(--fg);
  border: none;
  cursor: pointer;
  background-color: #00000000;
}

#themeIcon {
  width: 25px;
  height: 25px;
}

.container {
right: -7rem;
  width: 145vh;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px;
  margin: 0 auto; /* Center horizontally */
  position: relative; /* Ensure it doesn't shift */
}

.card {
  background-color: var(--cards);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.timeBlock {
  grid-row: 1 / span 2;
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherBlock {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

#day,
#hour,
#separator,
#minutes {
  font-size: var(--fg-primary);
  font-weight: bolder;
  color: var(--fg);
}

#day {
  font-size: var(--fg-date)
}
/*#month,
#day {
  font-size: var(--fg-date);
  font-weight: bold;
  color: var(--fg);
}

#day {
  margin-left: 1.5rem;
}*/

#greetings {
  color: var(--fg);
  font-size: var(--fg-secondary);
}

.weatherIcon img {
  width: 70px;
  height: 70px;
}

.weatherValue p {
  font-size: var(--fg-secondary);
  font-weight: bolder;
  margin-left: 15px;
  color: var(--fg);
}

.weatherDescription p {
  font-size: var(--fg-secondary);
  margin-left: 15px;
  color: var(--fg);
}

.reduceGap {
  grid-gap: 2rem !important;
}

.removeGap {
  grid-gap: 0 !important;
}

.linksBlock {
  grid-row: 3 / span 2;
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.linksBlockLeft {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.linksBlockRight {
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
}


.linksBlockSideRight {
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
}
.containerSideRight {
  position: absolute; /* Position it independently */
  right: 2rem; /* Adjust this value to move it further to the right */
  top: 50%; /* Center it vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
  width: 35vh;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 5px;
}

.buttonsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Enable stacking of children */
  width: 100%;
  height: 100%;
}

.buttonIcon,
.buttonTitle {
  position: absolute; /* Stack elements on top of each other */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center elements */
}

.buttonIcon {
  width: var(--icon);
  height: var(--icon);
  color: var(--fg);
}

.button__1 {
  grid-row: 1;
  grid-column: 1;
}
.button__2 {
  grid-row: 1;
  grid-column: 2;
}
.button__3 {
  grid-row: 2;
  grid-column: 1;
}
.button__4 {
  grid-row: 2;
  grid-column: 2;
}
.button__5 {
  grid-row: 1;
  grid-column: 3;
}
.button__6 {
  grid-row: 2;
  grid-column: 3;
}
.button:hover {
  background-color: var(--accent);
}
.button:hover svg {
  stroke: var(--sfg);
}

.button:hover .buttonTitle {
  opacity:1;

}

.button:hover .buttonIcon {
  opacity:0;

}

.buttonTitle {
  color: var(--fg);
  font-weight: bold;
  text-decoration:none;
  opacity:0;
}

.listsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem;
  padding: 0.4rem;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list__1 {
  grid-column: 1;
  grid-row: 1 / span 2;
}
.list__2 {
  grid-column: 2;
  grid-row: 1 / span 2;
}
.listIcon {
  /* margin-top: 3vh; */
  margin-bottom: 2vh;
  color: var(--fg);
  width: var(--icon);
  height: var(--icon);
  font-size: var(--fg-list);
  color: var(--bg);
  width: 90%;
}

.listTitle {
  color: var(--fg);
  font-weight: bold;
  background-color: var(--background);
}

.listItem {
  text-decoration: none;
  font-size: var(--fg-list);
  color: var(--fg);
  margin-top: 1vh;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  width: 80%;
}
.listItem:hover {
  background-color: var(--accent);
  color: var(--sfg);
}

/* Styles for collapsible mini pages */
.miniPage {
  margin-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  transition: height 0.3s ease; /* Smooth height transition */
}

.miniPage-header {
  background-color: var(--cards);
  color: var(--fg);
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.miniPage-header:hover {
  background-color: var(--accent);
  color: var(--sfg);
}

.miniPage-content {
  height: 0; /* Hidden by default */
  opacity: 0;
  padding: 0 1rem;
  background-color: var(--miniPagebg);
  color: var(--fg);
  font-weight: bold;
  transition: opacity 0.3s ease, padding 0.3s ease; /* Smooth opacity and padding transitions */
}

.miniPage-headerlink {
  background-color: var(--miniPagebg);
  color: var(--fg);
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
}
.miniPage-headerlink a {
  text-decoration: none;
  color: var(--fg);
}

.miniPage-headerlink:hover a {
  color: var(--sfg);
}

.miniPage-link {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  color: var(--fg);
  border-radius: 5px;
  margin:2px;
  font-weight: normal;
}

.miniPage-link:hover,.miniPage-headerlink:hover {
  background-color: var(--backaccent);
  color: var(--sfg);
}

.miniPage.expanded {
  height: auto; /* Expand smoothly */
}

.miniPage.expanded .miniPage-content {
  height: auto;
  opacity: 1;
  padding: 1rem;
}

/* M E D I A - Q U E R I E S */

@media only screen and (max-width: 68.75em) {
  .container {
    grid-gap: 20px;
    padding: 40px;
  }

  .timeBlock {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
  }

  .weatherBlock {
    display: none;
  }

  #greetings {
    font-size: var(--fg-secondary);
    color: var(--fg);
  }

  .linksBlockRight {
    display: none;
  }

  .linksBlockLeft {
    grid-column: 1 / span 4;
  }

  .button {
    grid-gap: 3vw;
    padding-left: 100px;
    padding-right: 100px;
  }
}
